.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.my-background {
  background-image: url("./Img/bg6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;

  /* Other background properties */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* CSS to hide the modal by default */
/* Modal Container */
/* Modal Container */
.modal {
  display: block;
  position: fixed; /* Keeps the modal fixed regardless of scroll */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

/* Modal Content */
.modal-content {
  background-color: #f7f7f7;
  margin: 10% auto; /* Center modal on the screen */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adding a shadow for depth */
  width: 60%;
  max-width: 500px;
}

/* Close Button */
.close {
  color: #555;
  float: right;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* Styles for phones */
  .homeHead {
    margin-left: 30px;
  }
}
